pipelines:
  branches:
    develop:
      - step:
          name: Deploy develop branch to heroku
          script:
            - git push https://heroku:$HEROKU_API_KEY@git.heroku.com/btpn-crm-stg.git HEAD:master
