{% extends "base.html" %} {% block main %}
<div class="row mt-5">
  <div class="col-md-10 m-auto">
    <div class="text-center mb-5" style="{{ extras['logo_wrapper_extra_style'] }}">
      {%if extras['show_logo']%}
        <img src="{{ extras['logo'] }}" alt="" width="190px" />
      {%endif%}
    </div>

    <h1 class="text-center mb-3">
      {{csat.app.app_name if not extras['hide_app_name_title'] else ''}} Customer Satisfaction Survey
    </h1>

    {% if 'greetings' not in extras %}
    <h5 class="text-center" style="margin-bottom: 50px">
      Hanya kurang dari 1 menit, saran dan masukan {{ extras['customer_wording'] }}
      sangat berarti bagi kami untuk terus dapat melakukan peningkatan pelayanan
      yang lebih baik lagi. Mohon berikan penilaian atas pelayanan
      {{csat.app.app_name}}.
    </h5>
    {% endif %} {% if 'greetings' in extras %} {{ extras['greetings']|safe }} {%
    endif %} {% with messages = get_flashed_messages() %} {% if messages %} {%
    for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{message}}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <form method="POST" action="/csat">
      <input
        type="text"
        name="csat_code"
        id="csat_code"
        value="{{csat.csat_code}}"
        hidden
      />
      {% if csat.app.config.rating_type.name == 'STAR' or
      csat.app.config.rating_type.name == 'NUMBER' %} {% if not
      extras['disable_rating_instruction'] %}
      <h5 class="text-center">
        Dari skala 1 – {{csat.app.config.rating_total}}, berapa nilai yang
        {{ extras['customer_wording'] }} berikan atas keseluruhan pengalaman
        pelayanan bersama {{csat.app.app_name}} (1 = buruk sekali,
        {{csat.app.config.rating_total}} = baik sekali)
      </h5>
      {% endif %}
      <div
        class="form-group pb-3 pt-3"
        style="display: flex; justify-content: center"
      >
        <select name="rating" id="rating" autocomplete="off">
          <option value=""></option>
        </select>
      </div>
      {% endif %} {% if csat.app.config.rating_type.name == 'EMOJI' %}
      <input type="hidden" name="rating" />
      <div class="d-flex flex-row justify-content-center">
        <div class="p-2">
          <button
            type="button"
            class="btn btn-rating-positive justify-items-center p-6"
          >
            {% if extras['emoji_type'] == 'face' %}
            <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
              <image
                class="d-block"
                href="{{ url_for('static', filename='ant-design_smile-twotone.svg') }}"
                height="200"
                width="200"
              />
            </svg>
            {% endif %} {% if extras['emoji_type'] == 'thumb' %}
            <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
              <image
                class="d-block"
                href="{{ url_for('static', filename='line-md_thumbs-up-twotone.svg') }}"
                height="200"
                width="200"
              />
            </svg>
            {% endif %}
            <span class="font-weight-bold d-block h3 text-success"
              >{{ emoji_enums.PUAS.value }}</span
            >
          </button>
        </div>
        <div class="p-2">
          <button
            type="button"
            class="btn btn-rating-negative justify-items-center p-6"
          >
            {% if extras['emoji_type'] == 'face' %}
            <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
              <image
                class="d-block"
                href="{{ url_for('static', filename='ant-design_frown-twotone.svg') }}"
                height="200"
                width="200"
              />
            </svg>
            {% endif %} {% if extras['emoji_type'] == 'thumb' %}
            <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
              <image
                class="d-block"
                href="{{ url_for('static', filename='line-md_thumbs-down-twotone.svg') }}"
                height="200"
                width="200"
              />
            </svg>
            {% endif %}
            <span class="font-weight-bold d-block h3 text-danger"
              >{{ emoji_enums.TIDAK_PUAS.value }}</span
            >
          </button>
        </div>
      </div>
      {% endif %}

      <div class="form-group">
        {% if 'additional_comment_instruction' in extras %} {{
        extras['additional_comment_instruction']|safe }} {% endif %} {% if
        'custom_comment_wording' not in extras %}
        <h5>
          Mohon kesediaan {{ extras['customer_wording'] }} untuk memberikan saran
          perbaikan atas pelayanan {{csat.app.app_name}}.
        </h5>
        {% endif %} {% if 'custom_comment_wording' in extras %} {{
        extras['custom_comment_wording']|safe }} {% endif %} {% if
        'rating_min_fb' in extras and extras['rating_min_fb'] != csat.app.config.rating_total and extras['rating_min_fb'] > 0 %}
        <label for="feedback"
          ><i
            >Jika mengisi nilai 1 – {{extras['rating_min_fb']}}, maka wajib
            mengisi kolom alasan</i
          ></label
        >
        {% endif %}

        <textarea
          class="form-control"
          id="feedback"
          name="feedback"
          rows="5"
          maxlength="1000"
        ></textarea>
      </div>
      <div class="form-group" style="display: flex; justify-content: center">
        <button type="submit" class="btn btn-primary">
          {{ extras['submit_button_text'] if 'submit_button_text' in extras else
          'Kirim Survey' }}
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %} {% block script %}

<script type="text/javascript">
  const ratingType = "{{csat.app.config.rating_type.name}}";
  const ratingTotal = "{{csat.app.config.rating_total}}";

  for (i = 1; i <= ratingTotal; i++) {
    $("#rating").append($("<option>", { value: i }).text(i));
  }

  function ratingEnable() {
    if (ratingType == "STAR") {
      $("#rating").barrating("show", {
        theme: "fontawesome-stars",
        showSelectedRating: false,
      });
    } else {
      $("#rating").barrating("show", {
        theme: "bars-square",
        showValues: true,
        showSelectedRating: false,
      });
    }
  }

  ratingEnable();
</script>

{% endblock %}
